.subtitulo {
  color: black;
  font-size: 25px; }

.particular, .particular2 {
  font-family: 'Edu VIC WA NT Beginner', cursive;
  font-weight: bold; }

.particular2 {
  font-size: 25px; }

/******************************************** CSS INDEX******************************* */
* {
  margin: 0;
  padding: 0; }

.jona {
  background-image: url("https://img.freepik.com/free-photo/vintage-grunge-blue-concrete-texture-wall-background-with-vignette_1258-28373.jpg?w=740&t=st=1659931637~exp=1659932237~hmac=a379ec75c2baca386bc3954597e6f44bcdf73389e465ad74f3b2774926fe86b7");
  background-size: 110%; }

.unico {
  background-image: url("../imagenes para utilizar/fondo para index.jpg");
  width: 100%;
  height: 700px; }

.BarraDeBusqueda {
  background-color: #1946a0;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 20px; }

.BarraDeBusqueda1 {
  color: white;
  margin-right: 40px; }

.BarraDeBusqueda2 {
  color: white; }

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: 'Edu VIC WA NT Beginner', cursive; }

.adentroImagen {
  display: flex;
  margin: 0;
  margin-bottom: 40px;
  font-size: 30px;
  flex-flow: row wrap;
  justify-content: center;
  padding: 210px;
  padding-top: 80px;
  padding-bottom: 20px;
  font-family: 'Edu VIC WA NT Beginner', cursive; }

.padre2 {
  display: flex;
  font-size: 30px;
  justify-content: center; }

.hijoAdoptivo1, .hijoAdoptivo2, .hijoAdoptivo3 {
  display: flex;
  background-color: #1946a0;
  border-radius: 2px;
  padding-top: 5px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 5px;
  margin-right: 10px; }

.pieDePagina {
  background-color: #1946a0; }

.botonWhatsApp img {
  width: 70px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  transition: width 0.2s; }
  .botonWhatsApp img:hover {
    width: 90px; }

/*****************************************  CSS PROPIEDADES *******************************/
.contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  margin-top: 30px; }

.tituloPagina {
  text-align: center;
  color: white;
  margin-bottom: 50px;
  margin-top: 30px;
  font-family: 'Edu VIC WA NT Beginner', cursive; }

.tercerCarru {
  margin-bottom: 20px; }

/****************************** CSS EMPRENDIMIENTOS ********************************************/
.almacen {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;
  margin-bottom: 40px; }

.mitad2 p {
  margin-left: 80px;
  font-family: "Edu VIC WA NT Beginner", cursive; }

.mitad1 {
  height: 600px;
  background-image: url("https://imgar.zonapropcdn.com/avisos/1/00/47/70/32/67/720x532/1762553519.jpg");
  background-size: 100% 100%;
  margin-left: 50px; }

.mitad2 {
  font-size: 40px;
  background-color: black;
  color: white; }
  .mitad2 h2 {
    font-size: 60px;
    margin-top: 10px;
    margin-left: 80px;
    font-family: 'Edu VIC WA NT Beginner', cursive; }

.texto {
  background-color: black;
  display: flex;
  justify-content: start;
  height: 200px;
  width: 300px;
  margin-top: 40px;
  margin-left: 50px;
  font-family: 'Edu VIC WA NT Beginner', cursive; }
  .texto li {
    font-size: 20px;
    text-align: justify;
    display: inline; }

/**************************************** CSS CONTACTO  *****************************************/
.absoluto {
  display: grid;
  grid-template-columns: 50% 40%;
  text-align: center;
  margin-bottom: 70px; }

.boton {
  color: white;
  background-color: #1946a0;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer; }

.dondeEstamos {
  color: white;
  font-size: 2rem;
  margin-left: 60px; }
  .dondeEstamos p {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 30px; }
  .dondeEstamos ul li {
    display: block;
    text-align: start; }

li img {
  height: 30px;
  width: 30px;
  transition: height 0.2s, width 0.2s;
  cursor: pointer; }
  li img:hover {
    height: 60px;
    width: 60px; }

.dondeEstamos a {
  text-decoration: none;
  color: black;
  margin: 20px; }

aside {
  text-align: start;
  margin-top: 40px;
  text-align: center; }
  aside ul {
    display: flex;
    justify-content: center; }
  aside li {
    margin-top: 10px; }
  aside img {
    height: 50px;
    width: 50px; }

/* media */
@media (max-width: 900px) {
  body {
    background-size: 900px 1400px; }
  .adentroImagen {
    font-size: 20px;
    display: inline;
    padding: 60px; }
  .padre2 {
    display: inline; }
  .hijoAdoptivo1, .hijoAdoptivo2 {
    margin-bottom: 20px;
    justify-content: center; }
  .hijoAdoptivo3 {
    justify-content: center; }
  /* media contacto */
  .absoluto {
    display: grid;
    grid-template-columns: 100%; }
  .dondeEstamos, .textArea {
    display: none; }
  /* MEDIA EMPRENDIMIENTOS */
  .almacen {
    display: grid;
    grid-template-columns: 100%; }
  .mitad1 {
    display: none; }
  .texto {
    display: block;
    font-size: 15px;
    margin-left: 10px; }
  /* MEDIA PROPIEDADES */
  .contenedor {
    display: block; }
  .item {
    display: none; }
  footer {
    margin-top: 0; }
  /* media quienes somos */
  .primerCarru, .segundoCarru {
    display: none; } }

.pago {
  background-color: white; }

.imagenPago {
  transition: height 0.2s, width 0.2s;
  cursor: pointer; }
  .imagenPago:hover {
    height: 80px;
    width: 90px; }
