  /*****************************************  CSS PROPIEDADES *******************************/
  .contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    margin-top: 30px;
  }
  .tituloPagina {
    text-align: center;
    color: $color-secundario;
    margin-bottom: 50px;
    margin-top: 30px;
    font-family: 'Edu VIC WA NT Beginner', cursive;
  }
  .tercerCarru {
    margin-bottom: 20px;
  }